.hero-section {
    position: relative;
    background: url("sign.jpg") no-repeat center center / cover;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}
.nav-item {
    color: #fff!important;
}
.hero-section .container {
    z-index: 2;
    position: relative;
    text-align: left;
    padding: 2rem;
}

.hero-section .content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    margin: auto;
}

.hero-section h1 {
    text-align:center;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    border-bottom: 5px solid #388E3C;
    padding-bottom: 20px;
}

.hero-section p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.hero-section .cta-button {
    background-color: #43A047;
    color: #fff;
    border-radius: 100px;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.hero-section .cta-button:hover {
    background-color: #388E3C;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.61);
    z-index: 1;
}

@media (max-width: 732px) {
    .hero-section h1 {
        text-align: center;
        color: #fff;
        font-size: 25px;
        font-weight: bold;
    }
    .hero-section p {
        font-size: 16px;
    }
    .hero-section .cta-button {
        font-size: 15px;
    }
}
.section h2{
    text-align:left;
    color: #040404;
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 1rem;
    
}
.section p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}