/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #555;
}

/* Hero Section */
.hero-section {
    position: relative;
    background: url("sign.jpg") no-repeat center center / cover;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.61);
    z-index: 1;
}

.hero-section .container {
    z-index: 2;
    position: relative;
    text-align: left;
    padding: 2rem;
}

.hero-section .content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    margin: auto;
}

.hero-section h1 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    border-bottom: 5px solid #388E3C;
    padding-bottom: 20px;
}

.hero-section p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.hero-section .cta-button {
    background-color: #43A047;
    color: #fff;
    border-radius: 100px;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.hero-section .cta-button:hover {
    background-color: #388E3C;
}

/* Sections Styles */
.section {
    padding: 50px;
}

.section h2 {
    text-align: left;
    color: #040404;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.section p {
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 2rem;
}

ul {
    list-style-type: disc;
    padding-left: 40px;
}

ul li {
    font-size: 16px;
    text-align: left;
}

/* CPD Section */
body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.cpd-section {
    padding: 50px;
    background-color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

 h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #666;
    padding-bottom: 10px;
    display: inline-block;
}

 h3 {
    font-size: 1.5em;
    color: #333;
    margin-top: 30px;
    margin-bottom: 20px;
}

 p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

 ul {
    list-style-type: disc;
    padding-left: 40px;
    color: #555;
}

 li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .cpd-section {
        padding: 20px;
    }
    h1 {
        font-size: 2em;
    }
    p, li {
        font-size: 1em;
    }
}

/* Coach Section */
body {
    font-family: 'arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.coach-section {
    padding: 50px 20px;
    background-color: #fff;
}

 .container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

 h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

 blockquote {
    font-size: 1.2em;
    font-style: italic;
    color: #666;
    border-left: 4px solid #333;
    padding-left: 20px;
    margin-bottom: 20px;
}

 p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

.image-container {
    flex-basis: 40%;
    text-align: right;
}

.image-container img {
    max-width: 100px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-container {
        text-align: center;
        margin-top: 20px;
    }

    blockquote {
        font-size: 1em;
    }

    p{
        font-size: 1em;
    }
}

/* Consultation Section */
.consultation-section {
    background-color: #8ef169;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.consultation-section .container {
    max-width: 600px;
    margin: 0 auto;
}

.consultation-section h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.consultation-section h1 span {
    color: #000;
}

.consultation-section p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.consultation-section .btn {
    background-color: #fff;
    color: #8ef169;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

.consultation-section .btn:hover {
    background-color: #6fb851;
    color: #fff;
}

/* Responsive Styles */
@media (max-width: 732px) {
    .hero-section h1 {
        font-size: 25px;
    }

    .hero-section p {
        font-size: 16px;
    }

    .hero-section .cta-button {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .cpd-section {
        padding: 20px;
    }

    .cpd-section h1 {
        font-size: 2em;
    }

    .cpd-section p, .cpd-section li {
        font-size: 1em;
    }

    .coach-section .container {
        flex-direction: column;
    }

    .image-container {
        text-align: center;
        margin-top: 20px;
    }

    .coach-section blockquote {
        font-size: 1em;
    }

    .coach-section p {
        font-size: 1em;
    }
}
